<h1>Rating Page</h1>
<h3>Course Ratings</h3>
<h3>@ViewBag.rating.selectedCourse</h3>
<h3>Highest Rating</h3>
<h3>@ViewBag.rating.highestRating</h3>
<h3>Lowest Rating</h3>
<h3>@ViewBag.rating.lowestRating</h3>
<h3>Average Rating</h3>
<h3>@ViewBag.rating.averagerating</h3>
