<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNaS_l28ekwUTqepb0NBs72ep1QGcmcMc&callback=initMap&libraries=&v=weekly"
            defer></script>
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            width:400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const location1 = {lat:@ViewBag.studentLatitude,lng:@ViewBag.studentLongitude};
            const location2 = { lat:@ViewBag.instructorLatitude, lng:@ViewBag.instructorLongitude}
           const uluru = { lat: 25.2744, lng: 133.7751 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: location2,
                map: map,
            });
            const marker1 = new google.maps.Marker({
                position: location1,
                map: map,
            });
            debugger
        }
    </script>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
</body>
</html>